<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<FlexboxLayout>
    <StackLayout class="form" orientation="horizontal">
        <StackLayout orientation="vertical">
            <Image src="~/app/images/10.jpg"></Image>
            <Button text="Iniciar prueba 10 palabras" verticalAlignment="bottom"
                height="70" width="200" (tap)="palabrasgo()"></Button>
        </StackLayout>

        <StackLayout orientation="vertical">
            <Image src="~/app/images/raven.jpg"></Image>
            <Button text="Iniciar prueba raven" verticalAlignment="bottom"
                height="70" width="200" (tap)="ravengo()">
            </Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>