<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r61.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r62.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r63.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r64.png" [nsRouterLink]="['/raveno']" 
            (tap)="sub()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r65.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r66.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r67.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>