<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r51.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r52.png" [nsRouterLink]="['/ravens']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r53.png" [nsRouterLink]="['/ravens']" 
            (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r54.png" [nsRouterLink]="['/ravens']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r55.png" [nsRouterLink]="['/ravens']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r56.png" [nsRouterLink]="['/ravens']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r57.png" [nsRouterLink]="['/ravens']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>