<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r71.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r72.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r73.png" [nsRouterLink]="['/raveno']" 
            (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r74.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r75.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r76.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r77.png" [nsRouterLink]="['/raveno']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>