<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r31.png" width="600" height="450"></Image>
    </StackLayout>

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r32.png" [nsRouterLink]="['/ravenc']" (tap)="sub()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r33.png" [nsRouterLink]="['/ravenc']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r34.png" [nsRouterLink]="['/ravenc']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r35.png" [nsRouterLink]="['/ravenc']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r36.png" [nsRouterLink]="['/ravenc']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r37.png" [nsRouterLink]="['/ravenc']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>