<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r21.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r22.png" [nsRouterLink]="['/ravent']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r23.png" [nsRouterLink]="['/ravent']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r24.png" [nsRouterLink]="['/ravent']" (tap)="sub()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r25.png" [nsRouterLink]="['/ravent']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r26.png" [nsRouterLink]="['/ravent']" 
                width="150" height="110"></Image>
            <Image src="~/app/images/r27.png" [nsRouterLink]="['/ravent']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>