<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r81.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r82.png" [nsRouterLink]="['/ravenn']"
                width="150" height="110"></Image>
            <Image src="~/app/images/r83.png" [nsRouterLink]="['/ravenn']" 
            (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r84.png" [nsRouterLink]="['/ravenn']"
                width="150" height="110"></Image>
            <Image src="~/app/images/r85.png" [nsRouterLink]="['/ravenn']" 
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r86.png" [nsRouterLink]="['/ravenn']"
                width="150" height="110"></Image>
            <Image src="~/app/images/r87.png" [nsRouterLink]="['/ravenn']" 
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>