<ActionBar title="SGPLAT" color="#FFFFFF"> </ActionBar>



<StackLayout class="form" orientation="horizontal">
    <StackLayout orientation="vertical">
        <Image src="~/app/images/r101.png" width="600" height="450"></Image>
    </StackLayout> 

    <StackLayout orientation="vertical">
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r102.png" [nsRouterLink]="['/pruebas']" (tap)="sub()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r103.png" [nsRouterLink]="['/pruebas']" (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r104.png" [nsRouterLink]="['/pruebas']" (tap)="subm()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r105.png" [nsRouterLink]="['/pruebas']" (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Image src="~/app/images/r106.png" [nsRouterLink]="['/pruebas']" (tap)="sub()"
                width="150" height="110"></Image>
            <Image src="~/app/images/r107.png" [nsRouterLink]="['/pruebas']" (tap)="sub()"
                width="150" height="110"></Image>
        </StackLayout>
    </StackLayout>
</StackLayout>